.main-home{
    height: 85vh;
    width: 100vw;
    background-image: url("https://images.creativemarket.com/0.1.0/ps/1437481/1280/640/m1/fpnw/wm0/game_background_21-.jpg?1468084190&s=0cb19d7f2ecc1bf3fd766646f6db5309");
}



.hmpage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.h-btn{
    background-color: tomato;
    color: white;
    padding: 8px 5px;
    border-radius: 4px;
   margin-right: 30px;
    margin-top: 30%;
    
}
.h-btn2{
    background-color: tomato;
    color: white;
    padding: 4px 5px;
    border-radius: 4px;
    margin-top: auto;
}
.h-btn:hover{
    animation: all ease-in-out 2000ms ;
    background-color: brown;
   
}