.LeaderboardContainer{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../public/leaderboardbg.jpg);
    /* background: linear-gradient(90deg, rgba(163, 160, 169), rgba(110, 48, 75, 1)); */
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(57, 46, 74);
}

.innerContainer{
    /* background-image: url(../../public/leaderboardbg.jpg); */
    width: 80%;
}

.boardContainer{
    background-image: url(../../public/leaderboardbg.jpg);
    
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
  }
  
  thead {
    background-color: rgba(163, 160, 169);
    border-radius: 20%;
    font-size: 2.5vw;
  }

  tbody>tr{
    font-size: 2vw;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color: rgba(57, 46, 74);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }